# Ignore everything
*

# But not these files
!.gitignore
!charDriver.c
!charDriver.h
!circularBuffer.c
!circularBuffer.h
!script_lab1
!charDriverProgram.c
!Makefile

# ...even if they are in subdirectories
!*/
